.actor-card {
  width: 100%;
  max-width: 19.3rem;
  display: flex;
  flex-direction: column;
  .actor-card__image-wrapper {
    width: 19.3rem;
    height: 19.3rem;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
  }
  h4 {
    height: 2.4rem;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--gray-300);
  }
  span {
    text-align: center;
    color: var(--gray-100);
  }
}

// ANCHOR breakpoints

@media (max-width: 375px) {
  .actor-card {
    max-width: 10rem;
    .actor-card__image-wrapper {
      width: 10rem;
      height: 10rem;
      position: relative;
      border-radius: 100%;
      overflow: hidden;
    }
    h4 {
      height: 1.3rem;
      margin-top: 0.8rem;
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
    span {
      font-size: 0.7rem;
      line-height: 0.8rem;
    }
  }
}
