.movie-card {
  width: 100%;
  max-width: 19.3rem;
  height: 35.5rem;
  border-radius: var(--border-card);
  overflow: hidden;
  background: var(--black);
  .movie-card__image-wrapper {
    width: 100%;
    height: 28.9rem;
    position: relative;
  }
  .movie-card__wrapper-text {
    height: 100%;
    margin-top: 1.5rem;
    padding: 0 1.8rem;

    h4 {
      height: 2.4rem;
      color: var(--gray-300);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      display: block;
      color: var(--gray-100);
    }
  }
}
