.list-results {
  h2 {
    color: var(--white);
  }
  .list-results__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.7rem;
    row-gap: 3.5rem;
    margin-top: 3.5rem;
  }
}

// ANCHOR this selector uses to apply left align card
.invisible-element {
  width: 19.3rem;
  height: 0;
  @media (max-width: 375px) {
    width: 10rem;
  }
}

// ANCHOR breakpoints

@media (max-width: 375px) {
  .list-results {
    h2 {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    .list-results__container {
      column-gap: 1.9rem;
      row-gap: 2.3rem;
      margin-top: 2.1rem;
    }
  }
}
