.home {
  .home__popular-films-wrapper {
    padding: 3.3rem 7rem;
    padding-bottom: 0;
  }
  .home__next-releases-wrapper {
    padding: 6.4rem 7rem;
    padding-bottom: 0;
  }
  .home__popular-actors-wrapper {
    padding: 8.5rem 7rem;
    padding-bottom: 10.2rem;
  }
}

// ANCHOR breakpoints

@media (max-width: 768px) {
  .home {
    .home__popular-films-wrapper,
    .home__next-releases-wrapper,
    .home__popular-actors-wrapper {
      padding-left: 3.3rem;
      padding-right: 3.3rem;
    }
  }
}

@media (max-width: 375px) {
  .home {
    .home__popular-films-wrapper {
      padding: 1.9rem 1.5rem;
      padding-bottom: 0;
    }
    .home__next-releases-wrapper {
      padding: 2.8rem 1.5rem;
      padding-bottom: 0;
    }
    .home__popular-actors-wrapper {
      padding: 2.1rem 1.5rem;
      padding-bottom: 3.1;
    }
  }
}
